In [2]:
import pandas as pd
food_dataset = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')

In [3]:
food_dataset.head(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
20,4,Algeria,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
21,4,Algeria,2905,Cereals - Excluding Beer,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
22,4,Algeria,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
23,4,Algeria,2905,Cereals - Excluding Beer,645,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.00,1682.00,1699.00,1656.00,1672.00
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
26,4,Algeria,2905,Cereals - Excluding Beer,684,Fat supply quantity (g/capita/day),g/capita/day,6.84,6.78,6.83,6.63,6.58
27,4,Algeria,2511,Wheat and products,5511,Production,1000 tonnes,2436.00,2657.00,2440.00,2437.00,3981.00
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.00,8255.00,8105.00,8434.00
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.00,1401.00,731.00,546.00,1927.00
30,4,Algeria,2511,Wheat and products,5911,Export Quantity,1000 tonnes,3.00,7.00,6.00,10.00,17.00
31,4,Algeria,2511,Wheat and products,5301,Domestic supply quantity,1000 tonnes,9407.00,9780.00,9958.00,9987.00,10472.00
32,4,Algeria,2511,Wheat and products,5521,Feed,1000 tonnes,550.00,592.00,584.00,587.00,665.00
33,4,Algeria,2511,Wheat and products,5527,Seed,1000 tonnes,123.00,134.00,123.00,123.00,201.00
34,4,Algeria,2511,Wheat and products,5123,Losses,1000 tonnes,690.00,781.00,747.00,736.00,868.00
35,4,Algeria,2511,Wheat and products,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
36,4,Algeria,2511,Wheat and products,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
37,4,Algeria,2511,Wheat and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
38,4,Algeria,2511,Wheat and products,5142,Food,1000 tonnes,7258.00,7425.00,7670.00,7701.00,7795.00
39,4,Algeria,2511,Wheat and products,645,Food supply quantity (kg/capita/yr),kg,186.46,186.90,189.14,186.07,184.58
40,4,Algeria,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,1432.00,1435.00,1453.00,1430.00,1419.00
41,4,Algeria,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,43.20,43.33,43.85,43.18,42.85
42,4,Algeria,2511,Wheat and products,684,Fat supply quantity (g/capita/day),g/capita/day,5.39,5.31,5.37,5.25,5.12
43,4,Algeria,2805,Rice and products,5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
44,4,Algeria,2805,Rice and products,5611,Import Quantity,1000 tonnes,171.00,164.00,162.00,190.00,207.00
45,4,Algeria,2805,Rice and products,5072,Stock Variation,1000 tonnes,8.00,-2.00,-4.00,17.00,37.00
46,4,Algeria,2805,Rice and products,5911,Export Quantity,1000 tonnes,NaN,0.00,0.00,0.00,0.00
47,4,Algeria,2805,Rice and products,5301,Domestic supply quantity,1000 tonnes,163.00,166.00,167.00,173.00,170.00
48,4,Algeria,2805,Rice and products,5521,Feed,1000 tonnes,5.00,1.00,1.00,2.00,0.00
49,4,Algeria,2805,Rice and products,5527,Seed,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [31]:
food_dataset[['Y2017','Area']].sort_values(by = 'Y2017',ascending = False)

          Y2017      Area
42973  190873.0   Nigeria
43129  117702.0   Nigeria
43133  112625.0   Nigeria
19008  106400.0  Ethiopia
16236   96443.0     Egypt
...         ...       ...
60208       NaN  Zimbabwe
60256       NaN  Zimbabwe
60355       NaN  Zimbabwe
60357       NaN  Zimbabwe
60646       NaN  Zimbabwe

[60943 rows x 2 columns]

In [28]:
qll.sort_values(ascending = False)

NameError: name 'qll' is not defined

In [4]:
food_dataset['Y2017'].std()

1671.8623590572788

In [5]:
food_dataset['Y2017'].mean()

140.917764860268

In [6]:
array =([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [7]:
S = [['him', 'sell'], [90, 28, 43]]

In [11]:
S[0][1][1]

'e'

In [40]:
fd = food_dataset[['Y2017','Area']].sort_values(by = 'Area',ascending = True)

In [41]:
fd.head(10)

       Y2017     Area
0    41389.0  Algeria
879     21.0  Algeria
878      0.0  Algeria
877      1.0  Algeria
876     22.0  Algeria
875      0.0  Algeria
874      0.0  Algeria
873      7.0  Algeria
880      0.5  Algeria
872     15.0  Algeria

In [56]:
food_dataset.loc[(food_dataset['Area'] == 'Madagascar') & (food_dataset['Element'] == 'Protein supply quantity (g/capita/day)')].sum()

Area Code                                                   14319
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                  299405
Item            Grand TotalVegetal ProductsAnimal ProductsCere...
Element Code                                                74814
Element         Protein supply quantity (g/capita/day)Protein ...
Unit            g/capita/dayg/capita/dayg/capita/dayg/capita/d...
Y2014                                                      177.79
Y2015                                                      173.05
Y2016                                                       173.4
Y2017                                                      175.75
Y2018                                                      176.64
dtype: object

In [60]:
food_dataset[(food_dataset['Element'] == 'Processing') & (food_dataset['Y2017'] )].sum()

Area Code                                                   89222
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 1694725
Item            Cereals - Excluding BeerBarley and productsSug...
Element Code                                              3227399
Element         ProcessingProcessingProcessingProcessingProces...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    281972.0
Y2015                                                    287014.0
Y2016                                                    280605.0
Y2017                                                    292836.0
Y2018                                                    308410.0
dtype: object

In [65]:
food_dataset[(food_dataset['Item'] == 'Wine') ].sum()

Area Code                                                   66206
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 1319535
Item            WineWineWineWineWineWineWineWineWineWineWineWi...
Element Code                                              1818328
Element         ProductionImport QuantityStock VariationExport...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                     4497.36
Y2015                                                     4251.81
Y2016                                                     3872.09
Y2017                                                     4178.02
Y2018                                                     4039.32
dtype: object

In [67]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

In [75]:
x = food_dataset[['Area','Y2017']].sort_values(by = 'Area' )

In [78]:
food_dataset['Area'].nunique()

49

In [81]:
food_dataset['Item'].unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)